/* ESTILOS GENERALES */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

/* ENCABEZADO */
header {
    background-color: #1f2933;
    color: white;
    padding: 20px;
    text-align: center;
}

/* MENÚ DE NAVEGACIÓN */
nav {
    background-color: #111827;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #38bdf8;
}

/* CONTENIDO PRINCIPAL */
main {
    padding: 20px;
    text-align: center;
}

/* PIE DE PÁGINA */
footer {
    background-color: #1f2933;
    color: white;
    text-align: center;
    padding: 10px;
}
/* LOGO */
header img {
    width: 150px;   /* Tamaño del logo */
    height: auto;
    margin-bottom: 12px;
}

/* MEJORA VISUAL DEL MENÚ */
nav ul li a {
    padding: 8px 14px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #1f2933;
    color: #38bdf8;
}
